<h1> following booking has been cancelled</h1>
<ul>
  <li><h4>Room number: <%= @room.room_number%></h4></li>
  <li><h4>User name: <%= @room.user.user_name%></h4></li>
  <li><h4>User email: <%= @room.user.email%></h4></li>
  <li><h4>Booked By: <%= @room.user.role.name%></h4></li>
</ul>
