<h1 align="center">Welcome to App</h1>
<%=link_to "Book Now", new_role_path%></br>
<!--link to show rooms booked by PM </br>
link to show rooms booked by ADMIN -->
<%if ConferenceRoom.present?%>
  <%=link_to "Booked History", conference_rooms_path%> 
<%else%>
  There is no any booking.
<%end%>